<!DOCTYPE html>
<html>
<head>
  <title>工匠名片</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/business_card.css'/>
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="order-count">接单 <span><%= orderCounts %></span>次</div>
        <div class="avatar" style="background-image:url(<%= avatorUrl %>)">
        </div>
        <div class="username">
          <div class="name"><%= name %></div>
          <div class="company"><%= company %></div>
        </div>
        <div class="follow" id="follow-btn">
          <img src="./images/follow.png"></img>
          <span>添加关注</span>
        </div>
        <div class="star-level">
          <% for(var j = 0; j < starLevel;j++){ %>
          <img src="./images/star-fill.png" alt="">
          <% } %>
          <% for(var j = 0; j < 5 - starLevel;j++){ %>
          <img src="./images/star-empty.png" alt="">
          <% } %>
        </div>
        <div class="line first-line">
          <div class="first-left">
            <div class="img profile">
            </div>
            <div class="line-text">
              个人资料
            </div>
          </div>

          <div class="first-right" id="comment-btn">
            <div class="img comment">
            </div>
            <div class="line-text">
              用户评价
            </div>
          </div>
        </div>

        <div class="line second-line">
          <div class="second-left">
            <div class="img skilled-brand">
            </div>
            <div class="line-text">
              擅长品牌
            </div>
          </div>

          <div class="second-right" onclick="ToPayPage()">
            <div class="img pay">
            </div>
            <div class="line-text">
              我要付款
            </div>
          </div>
        </div>

        <div class="line third-line" >
            <div class="img tele" onclick="callPhone()">
            </div>
            <div class="line-text tele-text" onclick="callPhone()">
              电话咨询
            </div>
        </div>

        <div class="apply-business-card">
          <div class="apply-img"></div>
          <div>申请名片</div>
        </div>

        <div class="position" id="geoBtn">
          <div class="dis">
            <div class="location"></div>
            <div class="add-left-margin"><%= distance %>km</div>
            <div class="add-left-margin"><%= workAddress %></div>
          </div>
          <div class="right-arrow"></div>
        </div>
    </div>
    <div class="bottom">
      <div class="title">
        <div class="line"></div>
        <div class="text">个人简介</div>
        <div class="line"></div>
      </div>
      <div class="content">
        <p><%= intro %></p>
      </div>
</div>
<div class="pop-dlg" id="pop-dlg">
  <div class="dialog">
    <div class="tele-num">
      <%= telephone %>
    </div>
    <div class="button">
      <a class="call" href="tel:<%= telephone %>">
        呼叫
      </a>

      <div class="cancel" id="cancel-call">
        取消
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="<%= id%>" id="craftmanId" />
<input type="hidden" value="<%= geoText %>" id="geoText"/>
<input type="hidden" value="<%= timestamp %>" id="ts"/>
<input type="hidden" value="<%= nonceStr %>" id="nstr"/>
<input type="hidden" value="<%= signature %>" id="sign"/>
<input type="hidden" value="<%= longitude %>" id="longitude"/>
<input type="hidden" value="<%= latitude %>" id="latitude"/>
<input type="hidden" value="<%= company %>" id="shop"/>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/javascripts/lib/simple_ajax.js"></script>
<script src="/javascripts/business_card.js"></script>
</body>
</html>
