<!DOCTYPE html>
<html>
<head>
  <title>支付详情</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/confirm_pay.css'/>
</head>
<body>
<div class="wrapper">
  <div class="top-label">
    <div>
      <span class="payAmount">支付金额</span><span class="payNum">￥<%= payAmount%></span>
    </div>
    <div>
      <span class="orderNum">订单编号</span>
    </div>
  </div>
  <input type="hidden" id="appId" value="<%= appId%>" />
  <input type="hidden" id="ts" value="<%= timestamp%>" />
  <input type="hidden" id="nonceStr" value="<%= nonceStr%>" />
  <input type="hidden" id="paySign" value="<%= paySign%>" />
  <input type="hidden" id="package" value="<%= package%>" />
  <input type="hidden" id="signType" value="<%= signType%>" />
  <input type="hidden" id="configTimestamp" value="<%= configTimestamp%>" />
  <input type="hidden" id="configSign" value="<%= configSign%>" />
  <div onclick="finalPay()" class="confirm">确认支付</div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/javascripts/lib/simple_ajax.js"></script>
<script src="/javascripts/confirm_pay.js"></script>
</body>
</html>
