<!DOCTYPE html>
<html>
<head>
  <title>工匠名片</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/craftman_personal.css'/>
</head>
<body>
<div class="wrapper">
  <div class="basic-info" onclick="personalSetting()">
    <div class="avator" style="background-image: url(<%= avator %>)"></div>
    <div class="name"><%= name %></div>
    <div class="telephone" id="telephone"><%= telephone %></div>
    <div class="right-arrow"></div>
  </div>
  <div class="second-line">
    <div>
      <div class="order-amount"><%= orderAmount %>单</div>
      <div class="bot-text">累计完成</div>
    </div>
    <div class="detail-list" onclick="detailList()">
      <div class="detail-logo">

      </div>
      <div class="bot-text">
        明细列表
      </div>
    </div>
    <div>
      <div class="business-card-logo">

      </div>
      <div class="bot-text">
        我的业务名片
      </div>
    </div>
  </div>
  <div class="third-line">
    <div class="flex remain">
      <div class="left-title">当前余额</div>
      <div class="right-number remain-number"><%= remainMoney %></div>
    </div>
    <div class="flex withdraw">
      <div class="left-title">提现中</div>
      <div class="right-number"><%= withdrawingMoney %></div>
    </div>
  </div>
  <div class="four-line">
    <div class="flex remain">
      <div class="left-title">累计收入</div>
      <div class="right-number"><%= totalIncome %></div>
    </div>
    <div class="flex withdraw">
      <div class="left-title">已提现</div>
      <div class="right-number withdrew-number"><%= withdrawedMoney %></div>
    </div>
  </div>
  <div class="withdraw-btn" onclick="showPopWin()">
      提现
  </div>
  <div class="withdraw-intro">
    提现说明:<br />
    1.仅支持微信
  </div>
</div>

<div class="pop-dlg" id="pop-dlg">
  <div class="dialog">
    <div class="tele-num">
      请输入提现金额 <input type="text" class="withdraw-input" id="withdraw-amount"/>
    </div>
    <div class="button">
      <div class="cancel" onclick="cancelWithdraw()">
        取消
      </div>

      <div class="confirm" onclick = "confirmWithdraw()">
        确认
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/lib/simple_ajax.js"></script>
<script src="/javascripts/craftman_personal.js"></script>
</body>
</html>
