<!DOCTYPE html>
<html>
<head>
  <title>工匠名片</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">

  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- qq强制竖屏 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <!-- rem.js -->
  <script>!function () {
      function e() {
        clearTimeout(i), i = setTimeout(t, 300)
      }

      function t() {
        n.rem = o.getBoundingClientRect().width / 10, o.style.fontSize = n.rem + "px"
      }

      var i, n = window, o = document.documentElement, d = "addEventListener";
      t(), o.setAttribute("data-dpr", n.devicePixelRatio), n[d]("resize", e), n[d]("pageshow", function (t) {
        t.persisted && e()
      })
    }();</script>

  <link rel='stylesheet' href='/stylesheets/craftman_detail.css'/>
</head>
<body>
<div class="wrapper">
  <div class="head-info">
    <div class="avator" style="background-image:url(<%= avatorUrl %>)"></div>
    <div class="name pos"><%= name %></div>
    <div class="com pos"><%= company %></div>
    <div class="statistic pos">
      <div class="order-count">
        接单<%= orderCounts %>次
      </div>
      <div>
        <% for(var j = 0; j < starLevel;j++){ %>
        <img src="./images/star-fill.png" alt="">
        <% } %>
        <% for(var j = 0; j < 5 - starLevel;j++){ %>
        <img src="./images/star-empty.png" alt="">
        <% } %>
      </div>
    </div>
    <div class="bot-line pos">
      <div class="dis"><img src="./images/location.png" alt=""><%= distance %></div>
      <div class="workplace"><%= workAddress %></div>
    </div>
  </div>

  <div class="intro">
    <div class="title">
      <div class="line"></div>
      <div class="text">个人简介</div>
      <div class="line"></div>
    </div>
    <div class="content">
      <p><%= intro %></p>
    </div>
  </div>
  <div class="comment">
    <div class="title">
      <div class="line"></div>
      <div class="text">用户评价</div>
      <div class="line"></div>
    </div>
    <div class="first-comment">
      <div class="avator" style="background-image:url(<%= commentList[0].userAvatorUrl %>)"></div>
      <div class="comment-detail">
        <div class="name">
          <%=commentList[0].username%>
        </div>
        <div class="cmt-detail">
          <%=commentList[0].cmtDetail%>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/craftman_detail.js"></script>
</body>
</html>
